  $customized-red: (A800: #a50a28,
    contrast: (A800: #a50a28
    ));

  $customized-white: (A800: rgb(255, 255, 255),
    contrast: (A800: rgb(255, 255, 255),
    ));

  $customized-green: (A800: #1CC8A0,
    contrast: (A800: #1CC8A0,
    ))


    